@import '../node_modules/modern-normalize/modern-normalize.css';

/* Open Sans Regular*/
@font-face {
  font-family: 'Open Sans';
  src: 
    url("./fonts/OpenSansRegular.ttf") format("truetype"),
    url("./fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Open Sans SemiBold */
@font-face {
  font-family: 'Open Sans SemiBold';
  src:  
    url("./fonts/OpenSansSemiBold.ttf") format("truetype"),
    url("./fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Open Sans Bold */
@font-face {
  font-family: 'Open Sans Bold';
  src:  
    url("./fonts/OpenSansBold.ttf") format("truetype"),
    url("./fonts/OpenSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg-color: #1f1f1f;
  --main-color: #FEF9F9;
  --second-color: #62B432;
  --main-transition: all 0.2s ease-in-out 0s;
  --tablet: 768px;
  --desktop: 1280px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: normal;
  color: var(--main-color);
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}